body {
	width    : 100%;
	height   : 100%;
	margin   : 0;
	padding  : 0;
	overflow : hidden;
}
#cesiumContainer{
  width: 90%;
  height: 100%;
  position: absolute;
  bottom:0;
  right:0;
}
#watermark1 {
    width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#watermark {
  height: 100%;
  padding-right: 5px;
  background-color: white;
  border-right: solid 1px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
img {max-width:100%;}
@media (min-width: 500px) {
#controlPanel {
    position: absolute;
    top: 5px;
    right: 160px;
    width: 350px;
    height: 26px;
    background: rgba(42, 42, 42, 0.76);
    padding: 5px 8px;
    /* border-radius: 5px; */
    color: white;
    overflow-y: auto;
    font-size: small;
}
}
@media (max-width: 500px) {
  #controlPanel {
    position: absolute;
    bottom: 30px;
    right: 5px;
    width: 235px;
    height: 100px;
    background: rgba(42, 42, 42, 0.76);
    padding: 5px 8px;
    /* border-radius: 5px; */
    color: white;
    overflow-y: auto;
    font-size: small;
}

}

